{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>42 Coffee Cups Test Assignment</h1>
</div>
<div class="container">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <fieldset class="form-horizontal">
                <div class="form-group">{{ account.first_name }}</div>
                <div class="form-group">{{ account.last_name }}</div>
                <div class="form-group">{{ account.birthday }}</div>
                <img class="img-responsive" src="img_chania.jpg">
            </fieldset>
        </div>

        <div class="col-sm-6">
            <fieldset class="form-horizontal">
                <div class="form-group">Contacts</div>
                <div class="form-group">Email: {{ account.email }}</div>
                <div class="form-group">Jabber: {{ account.jabber }}</div>
                <div class="form-group">Skype: {{ account.skype }}</div>
                <div class="form-group">Other contacts:<br>{{ account.other_info }}</div>
                <div class="form-group">Bio: <br>{{ account.bio }}</div>
            </fieldset>
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <a href="{% url 'requests' %}">Requests</a>
</div>
{% endblock content%}