{% extends 'base.html' %}

{% load cropping %}
{% load edit_link %}

{% block content %}
<div class="container">
    <div class="col-sm-12">
        <div class="col-sm-9"><h1>42 Coffee Cups Test Assignment</h1></div>
        <div class="col-sm-1"><a href="{% url 'edit' %}"><h4>Edit</h4></a></div>
        <div class="col-sm-1"><a href="{% url 'login' %}"><h4>Login</h4></a></div>
        <div class="col-sm-1">{%  edit_link "asdasd" %}<h4>Login</h4></div>

    </div>
</div>
<br><br>
<div class="container">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <fieldset class="form-horizontal">
                <div class="form-group">{{ account.first_name }}</div>
                <div class="form-group">{{ account.last_name }}</div>
                <div class="form-group">{{ account.birthday }}</div>
                {% if account %}
                    <img class="img-responsive" src="{% cropped_thumbnail account "cropping" %}">
                {% endif %}
            </fieldset>
        </div>

        <div class="col-sm-6">
            <fieldset class="form-horizontal">
                <div class="form-group"><label>Contacts</label></div>
                <div class="form-group">
                    <label class="col-sm-4">Email:</label>
                    <div class="col-sm-8">{{ account.email }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">Jabber: </label>
                    <div class="col-sm-8">{{ account.jabber }}</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4">Skype:</label>
                    <div class="col-sm-8"> {{ account.skype }}</div>
                </div>
                <div class="form-group">
                    <label>Other contacts:</label><br>
                    {{ account.other_info }}
                </div>
                <div class="form-group">
                    <label>Bio:</label><br>
                    {{ account.bio }}
                </div>
            </fieldset>
        </div>
    </div>
</div>

{% endblock content%}