{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>42 Coffee Cups Test Assignment</h1>
</div>
<div class="container">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <fieldset class="form-horizontal">
                <div class="form-group">My Name</div>
                <div class="form-group">my Last name</div>
                <div class="form-group">my Date of birth</div>
                <div class="form-group">Bio: <br>Text</div>
            </fieldset>
        </div>

        <div class="col-sm-6">
            <fieldset class="form-horizontal">
                <div class="form-group">Contacts</div>
                <div class="form-group">Email: email</div>
                <div class="form-group">Jabber: JID</div>
                <div class="form-group">Skype: id</div>
                <div class="form-group">Other contacts:<br>etc</div>
            </fieldset>
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <a href="{% url 'requests' %}">Requests</a>
</div>
{% endblock content%}